<nav class="navbar navbar-expand-lg bg-light py-2">
  <div class="container-fluid">
    <span class="navbar-brand px-4 fs-nav-brand ">Weathers</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon fs-1"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-nav-item">
        <li class="nav-item">
          <a class="nav-link ps-3" aria-current="page" href="/">Home</a>
        </li>
        <li><hr class="divider"></li>
        <li class="nav-item">
          <a class="nav-link ps-3" href="/cities">Cities</a>
        </li>
        <li><hr class="divider"></li>
        <!-- <li class="nav-item">
          <a class="nav-link ps-3" href="/about">About</a>
        </li>
        <li><hr class="divider"></li> -->
        <li class="nav-item">
          <a class="nav-link ps-3" href="http://www.meteo.lt/" target="_blank">Meteo.lt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>